<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9607473c-7f1e-4fa7-931d-fce7cf1d8f31" Alias="bookingsRoot" Level="2">
  <Info>
    <Name>Bookings Root</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Booking</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="7c3aa1bd-fb6b-4d7d-9130-0b3489ff3726" SortOrder="0">bookingRequest</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>