<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9c085494-2428-4aba-9cd6-cd47ff02df37" Alias="globalBlocksPage" Level="2">
  <Info>
    <Name>Global innihaldsøki</Name>
    <Icon>icon-axis-rotation-2 color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Mappur</Folder>
    <Compositions>
      <Composition Key="cce55a0d-c890-4cd5-a271-d4d22951367f">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d5fc3617-ec23-4db5-b873-78b185a8f179</Key>
      <Name>modul</Name>
      <Alias>modul</Alias>
      <Definition>368f9d52-b497-48a0-b0ec-5ccb43bbaa9a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="globalInnihaldsøki">Global innihaldsøki</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>efd6fc5c-ca65-4fb0-8933-a38e7563386c</Key>
      <Caption>Global innihaldsøki</Caption>
      <Alias>globalInnihaldsøki</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>