<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="36772ab1-774d-44db-be25-477e7042894b" Alias="GodRadmappa" Level="2">
  <Info>
    <Name>Góð ráð mappa</Name>
    <Icon>icon-sunny color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Mappur</Folder>
    <Compositions>
      <Composition Key="cce55a0d-c890-4cd5-a271-d4d22951367f">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="d1f801c5-3064-4dfc-9b46-2f2cd4ea71b8" SortOrder="0">godRad</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>