<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d1f801c5-3064-4dfc-9b46-2f2cd4ea71b8" Alias="godRad" Level="2">
  <Info>
    <Name>Góð ráð</Name>
    <Icon>icon-sunny color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>S%c3%ad%c3%b0ur</Folder>
    <Compositions>
      <Composition Key="cce55a0d-c890-4cd5-a271-d4d22951367f">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>GodRad</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2eb5aa58-f321-4b71-95db-7844189b1361">GodRad</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b04a2e10-bcb6-405e-91c8-0478b083f7ff</Key>
      <Name>Inngangstekstur</Name>
      <Alias>inngangstekstur</Alias>
      <Definition>0cba2495-3a15-4788-b1a9-f8dea26ef870</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="innihald">innihald</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b929360d-d0a0-4efa-b382-dba165ea7d10</Key>
      <Name>Modul</Name>
      <Alias>modul</Alias>
      <Definition>72c2e37f-80a3-4ecf-9133-5135963ffbae</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="innihald">innihald</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a064cab0-2392-4f3d-8d77-bc6cf6b78227</Key>
      <Name>Mynd</Name>
      <Alias>mynd</Alias>
      <Definition>511abb0b-2e20-4574-93ad-099c4b3220be</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="innihald">innihald</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>919cab76-7728-462f-bddf-65bc6bc47db9</Key>
      <Caption>innihald</Caption>
      <Alias>innihald</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>