<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f5055142-23d6-4fa9-b5e6-0a12ef868260" Alias="ikonMappa" Level="2">
  <Info>
    <Name>Ikon mappa</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Mappur</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="d6d49f93-2e51-42d1-b233-6f5892ce76ba" SortOrder="0">ikonElement</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>