<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d45609e6-9fc5-42bf-b7d9-721e37cfe64b" Alias="megamenuHeading" Level="2">
  <Info>
    <Name>Megamenu yvirskrift</Name>
    <Icon>icon-heading-1 color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions>
      <Composition Key="cce55a0d-c890-4cd5-a271-d4d22951367f">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e3ff5ebb-7d1c-4d48-9c61-498d17162bd9" SortOrder="0">subpage</ContentType>
    <ContentType Key="42441997-4799-4510-b121-eb2530358b2e" SortOrder="1">starvsfolkaSida</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>