<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="42441997-4799-4510-b121-eb2530358b2e" Alias="starvsfolkaSida" Level="2">
  <Info>
    <Name>Starvsfólkasíða</Name>
    <Icon>icon-operator color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>S%c3%ad%c3%b0ur</Folder>
    <Compositions>
      <Composition Key="cce55a0d-c890-4cd5-a271-d4d22951367f">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>Starvsfolkasida</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cc74a751-b304-47a8-bc0a-d56fba82a50f">Starvsfolkasida</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>607f830a-2873-4534-afec-bbba5811b8b8</Key>
      <Name>Deildir</Name>
      <Alias>modul</Alias>
      <Definition>c61eade0-aef5-487a-b171-3b9853cfcb51</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="yvirlit">Yvirlit</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2b474b9e-908b-4be3-8440-e0ef9b40468c</Key>
      <Caption>Yvirlit</Caption>
      <Alias>yvirlit</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>