<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e3ff5ebb-7d1c-4d48-9c61-498d17162bd9" Alias="subpage" Level="2">
  <Info>
    <Name>Vanlig síða</Name>
    <Icon>icon-document color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>S%c3%ad%c3%b0ur</Folder>
    <Compositions>
      <Composition Key="cce55a0d-c890-4cd5-a271-d4d22951367f">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>subpage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="00273df7-09d3-4fbd-b8b2-541bd7e3eb99">subpage</Template>
      <Template Key="44cbc5d0-0299-43e4-9cd3-876482cfeb7d">subpageArcgisLookupCshtml</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5dbf8b90-3225-4eed-a70f-46ea18be1316</Key>
      <Name>Modul</Name>
      <Alias>modul</Alias>
      <Definition>72c2e37f-80a3-4ecf-9133-5135963ffbae</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="innihald">Innihald</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0840de40-4fa3-4353-b56e-93db23c0c5b6</Key>
      <Caption>Innihald</Caption>
      <Alias>innihald</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>