<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a44b4403-de77-4733-afd5-99e06a0fe77c" Alias="blockedDate - blockedSlots - Dropdown Property Editor UI" Level="1">
  <Info>
    <Name>blockedDate - blockedSlots - Dropdown Property Editor UI</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Fyrrapart",
    "Seinnapart",
    "B\u00E6\u00F0i"
  ]
}]]></Config>
</DataType>