<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c0a4d117-53ac-4746-a3c1-78c7ed7b0c83" Alias="Custom Single Url Picker" Level="1">
  <Info>
    <Name>Custom Single Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>