<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0b6a45e7-44ba-430d-9da5-4e46060b9e03" Alias="Dropdown" Level="1">
  <Info>
    <Name>Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Orku\u00FAtvinning",
    "Endurvinning",
    "Tyrving",
    "\u00CDfylling",
    "Endurn\u00FDtsla",
    "Servi\u00F0ger\u00F0"
  ],
  "multiple": false
}]]></Config>
</DataType>