<?xml version="1.0" encoding="utf-8"?>
<DataType Key="368f9d52-b497-48a0-b0ec-5ccb43bbaa9a" Alias="Global innihaldsøki - modul - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Global innihaldsøki - modul - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "184f1ca0-4fbe-40de-b47f-7ef978c2e696",
      "label": "{=yvirskrift}"
    }
  ]
}]]></Config>
</DataType>