<?xml version="1.0" encoding="utf-8"?>
<DataType Key="60f144d2-98f9-4bac-8ea6-26ed7cf196a3" Alias="Global Block Item Picker" Level="1">
  <Info>
    <Name>Global Block Item Picker</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataPicker</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "allowDuplicates": false,
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.JsonDataListSource, Umbraco.Community.Contentment",
      "value": {
        "url": "/umbraco/api/globalblocks/items?preferAlias=globalBlocksPage",
        "itemsJsonPath": "$",
        "nameJsonPath": "$.text",
        "valueJsonPath": "$.value",
        "iconJsonPath": "$.icon",
        "descriptionJsonPath": "$.description"
      }
    }
  ],
  "displayMode": [
    {
      "key": "Umb.Contentment.DisplayMode.List",
      "value": {}
    }
  ],
  "maxItems": 1,
  "overlaySize": "medium",
  "pageSize": 12
}]]></Config>
</DataType>