<?xml version="1.0" encoding="utf-8"?>
<DataType Key="14c9bac9-0d13-438d-8863-eeafbd36e89e" Alias="Góð ráð picker" Level="1">
  <Info>
    <Name>Góð ráð picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "d1f801c5-3064-4dfc-9b46-2f2cd4ea71b8",
  "ignoreUserStartNodes": true,
  "maxNumber": 3,
  "minNumber": 3,
  "startNode": {
    "type": "content",
    "id": "09f56a5a-9536-4af5-bed8-c902afddb408",
    "dynamicRoot": {
      "originKey": "09f56a5a-9536-4af5-bed8-c902afddb408",
      "originAlias": "ByKey",
      "querySteps": []
    }
  }
}]]></Config>
</DataType>