<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5adb86a-c781-4d1b-a864-8c240a12e321" Alias="Hagtøl - Hagtøl listi - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Hagtøl - Hagtøl listi - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5b13eaec-db89-470a-9804-e967a9ca610e",
      "label": "{=tekstur}"
    }
  ]
}]]></Config>
</DataType>