<?xml version="1.0" encoding="utf-8"?>
<DataType Key="84c2d550-afb6-471b-a946-db0934d7b19e" Alias="Hero media picker" Level="1">
  <Info>
    <Name>Hero media picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": false,
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8"
}]]></Config>
</DataType>