<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a4a236e3-91fe-4b3e-b116-95c4cd4029df" Alias="Ikon - Media Picker" Level="1">
  <Info>
    <Name>Ikon - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "c4b1efcf-a9d5-41c4-9621-e9d273b52a9c",
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>