<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f2db43a7-2e72-46ac-84ec-4caaa22a5303" Alias="Kassi - Mynd - Media Picker Property Editor UI" Level="1">
  <Info>
    <Name>Kassi - Mynd - Media Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": true
}]]></Config>
</DataType>