<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a9d93393-fc2c-452e-8329-3108f6df22f4" Alias="Mynd og myndatekstur - Myndatekstur - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>Mynd og myndatekstur - Myndatekstur - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>