<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6d34577c-38e6-4f92-943e-5c409507eb36" Alias="mynd og myndatekstur picker" Level="1">
  <Info>
    <Name>mynd og myndatekstur picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>