<?xml version="1.0" encoding="utf-8"?>
<DataType Key="326696b1-d4bc-4d50-9bfe-1a143a30abaa" Alias="Site settings - Leinki - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Site settings - Leinki - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0ef13ae7-29d1-4781-8c27-2ba416a9897e",
      "label": "{=leinki.name}"
    }
  ]
}]]></Config>
</DataType>