<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c61eade0-aef5-487a-b171-3b9853cfcb51" Alias="Starvsfólkasíða - modul - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Starvsfólkasíða - modul - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5dcf871c-4b77-4f38-9a76-a0c8857d875d",
      "label": "{=deild}"
    }
  ],
  "useInlineEditingAsDefault": true,
  "useLiveEditing": true,
  "useSingleBlockMode": true
}]]></Config>
</DataType>