<?xml version="1.0" encoding="utf-8"?>
<DataType Key="369fd063-7d6f-4df7-9e57-b80dcd01dee7" Alias="Tema picker" Level="1">
  <Info>
    <Name>Tema picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "efd6bb47-fcfb-4b99-8d28-de4c11ca5c8a",
  "maxNumber": 1,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "id": "8f40a51f-e308-4a77-93cc-a5aeae4e116c",
    "dynamicRoot": {
      "originKey": "8f40a51f-e308-4a77-93cc-a5aeae4e116c",
      "originAlias": "ByKey"
    }
  }
}]]></Config>
</DataType>