<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4fc13392-da03-4b68-9b90-4e4503add2b6" Alias="tema - media picker" Level="1">
  <Info>
    <Name>tema - media picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": true,
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8",
  "ignoreUserStartNodes": true,
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>