<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f5e3c001-e9a1-48fe-80e8-211572e9df6a" Alias="Tíðindi - Mynd - Media Picker Property Editor UI" Level="1">
  <Info>
    <Name>Tíðindi - Mynd - Media Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "crops": [
    {
      "label": "Big",
      "alias": "Big",
      "width": 1920,
      "height": 1080
    },
    {
      "label": "Small",
      "alias": "Small",
      "width": 960,
      "height": 540
    },
    {
      "label": "Medium",
      "alias": "Medium",
      "width": 1000,
      "height": 650
    }
  ],
  "enableLocalFocalPoint": true
}]]></Config>
</DataType>