<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d35f850e-b627-4daa-ad6d-45ac38f197f0" Alias="Tríggir kassar - Kassar - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Tríggir kassar - Kassar - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3c157da0-547a-4ee6-b494-a0658eaa852f",
      "label": "{=yvirskrift}"
    }
  ],
  "validationLimit": {
    "min": 0,
    "max": 3
  }
}]]></Config>
</DataType>