<?xml version="1.0" encoding="utf-8"?>
<DataType Key="72c2e37f-80a3-4ecf-9133-5135963ffbae" Alias="Vanlig síða - Modul - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Vanlig síða - Modul - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "66267d8a-8fc0-47f2-8da1-115f7a8b4e56",
      "label": "{=yvirskrift}"
    },
    {
      "contentElementTypeKey": "3becc846-f7cc-482c-954a-a47d33e13cdb"
    },
    {
      "contentElementTypeKey": "fb4cd595-2ce5-4e9b-9f33-3347d08afa05",
      "label": "{=yvirskrift}"
    },
    {
      "contentElementTypeKey": "b32e41b3-0794-498a-a6a1-81042f3bf84e",
      "label": "{=yvirskrift}"
    },
    {
      "contentElementTypeKey": "0d45fe3b-d611-4d0b-8865-53f4132bb7e3",
      "label": "{=yvirskrift}"
    },
    {
      "contentElementTypeKey": "184f1ca0-4fbe-40de-b47f-7ef978c2e696",
      "label": "{=yvirskrift}"
    },
    {
      "contentElementTypeKey": "55a48741-c44e-4123-8309-42fc03f06abe"
    },
    {
      "contentElementTypeKey": "aabaca28-31b1-4661-be49-071077c4b1af",
      "label": "{=yvirskrift}"
    },
    {
      "contentElementTypeKey": "5d4a5bab-56d5-4cc5-b2b3-5189a556361e",
      "label": "G\u00F3\u00F0 r\u00E1\u00F0"
    },
    {
      "contentElementTypeKey": "7d2ca898-7645-48d7-b1f2-e12eece6dc88"
    },
    {
      "contentElementTypeKey": "0adeab55-816d-44e1-b288-401a82fbc06e",
      "label": "3 kassar"
    },
    {
      "contentElementTypeKey": "a84769a4-d82c-4105-92b8-f1455e74c54e",
      "label": "{=heading}"
    },
    {
      "contentElementTypeKey": "9f4f630d-e537-40dd-86de-0dbf2df31e72"
    }
  ],
  "maxPropertyWidth": "100%",
  "useInlineEditingAsDefault": false,
  "useLiveEditing": true
}]]></Config>
</DataType>