<?xml version="1.0" encoding="utf-8"?>
<DataType Key="70b005b5-a0ea-49fb-b19d-e539f1b77957" Alias="blockedDate - Date - Date Picker Property Editor UI" Level="1">
  <Info>
    <Name>blockedDate - Date - Date Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DatePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "format": "DD-MM-YYYY"
}]]></Config>
</DataType>