<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b791adde-3c22-43d5-b3d9-582661293af7" Alias="blockedDate - Date to - Date Picker Property Editor UI" Level="1">
  <Info>
    <Name>blockedDate - Date to - Date Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DatePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "format": "DD-MM-YYYY"
}]]></Config>
</DataType>