<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f6063697-f909-4013-83b7-128f69b2066d" Alias="Blocked dates (Block list)" Level="1">
  <Info>
    <Name>Blocked dates (Block list)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "edeaa0fd-502c-4779-8d91-4747be343ad6",
      "label": "${      date          ? date.substring(8,10) \u002B \u0022-\u0022 \u002B date.substring(5,7) \u002B \u0022-\u0022 \u002B date.substring(0,4)         : \u0022\u0022 } ${      dateTo          ? \u0022 \u2013 \u0022 \u002B dateTo.substring(8,10) \u002B \u0022-\u0022 \u002B dateTo.substring(5,7) \u002B \u0022-\u0022 \u002B dateTo.substring(0,4)         : \u0022\u0022 }"
    }
  ]
}]]></Config>
</DataType>