<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ed79e08a-6ab5-4d71-8f6d-7750ca3186c9" Alias="Dropdown skiljing heima" Level="1">
  <Info>
    <Name>Dropdown skiljing heima</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Restburturkast",
    "Papp og papp\u00EDr",
    "Bleytt plast",
    "Vandamiki\u00F0 burturkast",
    "Metal",
    "Glas",
    "Ikki m\u00F8guligt"
  ]
}]]></Config>
</DataType>