<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2adcb286-9aeb-4bd9-9a88-271e4a357ff2" Alias="Endurnýtslur - Upplatingartíðir - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Endurnýtslur - Upplatingartíðir - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d2590a2d-799b-4308-a1b2-4960ea82f40c",
      "label": "{=tekstur}"
    }
  ]
}]]></Config>
</DataType>