<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3bd8d9d9-981c-4ecd-82b7-d6e300d13647" Alias="Global Blocks Picker" Level="1">
  <Info>
    <Name>Global Blocks Picker</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.JsonDataListSource, Umbraco.Community.Contentment",
      "value": {
        "url": "https://virkanet.kob.fo/umbraco/api/globalblocks/items",
        "itemsJsonPath": "$[*]",
        "nameJsonPath": "$.text",
        "valueJsonPath": "$.value",
        "iconJsonPath": "$.icon",
        "descriptionJsonPath": "$.description"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.RadioButtonListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "orientation": "vertical",
        "showDescriptions": true,
        "showIcons": false,
        "allowClear": false
      }
    }
  ]
}]]></Config>
</DataType>