<?xml version="1.0" encoding="utf-8"?>
<DataType Key="511abb0b-2e20-4574-93ad-099c4b3220be" Alias="Góð ráð - Mynd - Media Picker Property Editor UI" Level="1">
  <Info>
    <Name>Góð ráð - Mynd - Media Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": true,
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>