<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4c65899e-bc78-4a77-b99b-3252f6245ef4" Alias="Harmonika - Harmonika listi - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Harmonika - Harmonika listi - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d9a2b027-8ea7-4f18-ace2-91804ed0e1ba",
      "label": "{=yvirskrift}"
    }
  ]
}]]></Config>
</DataType>