<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a5d28985-beae-4db2-b2f1-d52ffed732e8" Alias="Home - Modul - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Home - Modul - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5d4a5bab-56d5-4cc5-b2b3-5189a556361e",
      "label": "{=yvirskrift}"
    },
    {
      "contentElementTypeKey": "7d2ca898-7645-48d7-b1f2-e12eece6dc88",
      "label": "Tema"
    },
    {
      "contentElementTypeKey": "6bea6978-8332-4721-8edc-d753083b49b6",
      "label": "T\u00ED\u00F0indi"
    },
    {
      "contentElementTypeKey": "16e6f3d3-e56d-44fc-82b9-fae5e3df0d51"
    },
    {
      "contentElementTypeKey": "1f1bba64-034d-4542-abd3-fc89fe733e0d"
    },
    {
      "contentElementTypeKey": "aabaca28-31b1-4661-be49-071077c4b1af",
      "label": "{=yvirskrift}"
    }
  ]
}]]></Config>
</DataType>