<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c54a2b55-2fa6-4369-a24e-811cae1dedec" Alias="image picker - starvsfolk" Level="1">
  <Info>
    <Name>image picker - starvsfolk</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8",
  "ignoreUserStartNodes": true,
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>