<?xml version="1.0" encoding="utf-8"?>
<DataType Key="721aa595-097d-450f-ac0f-d689ee061f53" Alias="Lutur (skiljivegleiðng) - MyndatekinHeima - [Contentment] Data Picker Property Editor UI" Level="1">
  <Info>
    <Name>Lutur (skiljivegleiðng) - MyndatekinHeima - [Contentment] Data Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "cd9bb8ef-fdd7-4be3-aa0a-182140b7cf21",
  "maxNumber": 1,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "id": "275663ac-6668-47a4-b44b-125080bab723",
    "dynamicRoot": {
      "originKey": "275663ac-6668-47a4-b44b-125080bab723",
      "originAlias": "ByKey"
    }
  }
}]]></Config>
</DataType>