<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2fcf4cbc-8a94-44fb-97ef-1483e715bad1" Alias="Lutur (skiljivegleiðng) - Ílat - Dropdown Property Editor UI" Level="1">
  <Info>
    <Name>Lutur (skiljivegleiðng) - Ílat - Dropdown Property Editor UI</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Gr\u00E1i posi",
    "Gr\u00F8na \u00EDlat",
    "Rey\u00F0i posi",
    "N\u00E6rskiljing"
  ]
}]]></Config>
</DataType>