<?xml version="1.0" encoding="utf-8"?>
<DataType Key="923fe1b5-702b-4c91-b177-719e3bad6483" Alias="Lutur (skiljivegleiðng) - Endurnýtslan (Myndatekin) - Dropdown Property Editor UI" Level="1">
  <Info>
    <Name>Lutur (skiljivegleiðng) - Endurnýtslan (Myndatekin) - Dropdown Property Editor UI</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Papp og papp\u00EDr",
    "Papp",
    "Bleytt plast",
    "Dekk vi\u00F0 felgum",
    "Dekk uttan felgur",
    "Glas",
    "Metal",
    "Bilvrak",
    "Vandamiki\u00F0 burturkast",
    "Battar\u00EDir",
    "Akkumulatorar",
    "Tr\u00FDstfl\u00F8skur",
    "Lj\u00F3sperur",
    "Lj\u00F3sstofr\u00F8r",
    "Asbest",
    "Elektronikkur",
    "K\u00E1plar og leidningar",
    "K\u00F8lisk\u00E1p og frystarir",
    "Ikki m\u00F8guligt",
    "Gips",
    "Glasull og steinull",
    "Gr\u00F3t og gr\u00FAs",
    "Urtagar\u00F0sburturkast",
    "Timbur",
    "Plattar",
    "M\u00F8plar",
    "Sm\u00E1tt at brenna",
    "Tyrving"
  ]
}]]></Config>
</DataType>