<?xml version="1.0" encoding="utf-8"?>
<DataType Key="198febfc-e429-4d2a-9b5c-915634a25adc" Alias="Lutur (skiljivegleiðng) - Heima við hús (Myndatekin) - Dropdown Property Editor UI" Level="1">
  <Info>
    <Name>Lutur (skiljivegleiðng) - Heima við hús (Myndatekin) - Dropdown Property Editor UI</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Restburturkast",
    "Papp og papp\u00EDr",
    "Bleytt plast",
    "Vandamiki\u00F0 burturkast",
    "Metal",
    "Glas",
    "Pant",
    "Kl\u00E6\u00F0ir",
    "Ikki m\u00F8guligt"
  ]
}]]></Config>
</DataType>