<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d68d2d70-0305-4108-9f87-9ad3eb622932" Alias="Multiple datepicker" Level="1">
  <Info>
    <Name>Multiple datepicker</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DatePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "format": "YYYY-MM-DD HH:mm:ss"
}]]></Config>
</DataType>