<?xml version="1.0" encoding="utf-8"?>
<DataType Key="29a82dc7-a964-41f4-8743-b2a64882a28b" Alias="radfylgja - dropdown" Level="1">
  <Info>
    <Name>radfylgja - dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Mynd til vinstru",
    "Mynd til h\u00F8gru"
  ]
}]]></Config>
</DataType>