<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ba3ccfa5-fbb6-482f-8b10-07dbb3bf815f" Alias="Slot (dropdown)" Level="1">
  <Info>
    <Name>Slot (dropdown)</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Fyrrapart",
    "Seinnapart"
  ]
}]]></Config>
</DataType>