<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5e7c65e4-978d-4fb6-9159-a699915e9950" Alias="Status (dropdown)" Level="1">
  <Info>
    <Name>Status (dropdown)</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Pending",
    "Approved",
    "Declined"
  ]
}]]></Config>
</DataType>