<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0f97ea2b-423e-4754-9837-b76492d4803a" Alias="Tema síða - Modul - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Tema síða - Modul - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "fb4cd595-2ce5-4e9b-9f33-3347d08afa05"
    },
    {
      "contentElementTypeKey": "0d45fe3b-d611-4d0b-8865-53f4132bb7e3"
    },
    {
      "contentElementTypeKey": "3becc846-f7cc-482c-954a-a47d33e13cdb"
    },
    {
      "contentElementTypeKey": "184f1ca0-4fbe-40de-b47f-7ef978c2e696"
    },
    {
      "contentElementTypeKey": "66267d8a-8fc0-47f2-8da1-115f7a8b4e56"
    },
    {
      "contentElementTypeKey": "b32e41b3-0794-498a-a6a1-81042f3bf84e"
    },
    {
      "contentElementTypeKey": "55a48741-c44e-4123-8309-42fc03f06abe"
    }
  ],
  "useInlineEditingAsDefault": true,
  "useLiveEditing": true
}]]></Config>
</DataType>