<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aebe8d5e-692c-4670-95c0-23da3e96791e" Alias="Tíðindavísing - Tal av tíðindum - [Contentment] Number Input Property Editor UI" Level="1">
  <Info>
    <Name>Tíðindavísing - Tal av tíðindum - [Contentment] Number Input Property Editor UI</Name>
    <EditorAlias>Umbraco.Community.Contentment.NumberInput</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.NumberInput</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "placeholderText": "Tal av t\u00ED\u00F0indum sum skulu v\u00EDsast",
  "size": "m"
}]]></Config>
</DataType>