<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c3ef6013-2fda-4570-ad63-08dcbf10fe41" Alias="Tríggir kassar - Kassar - Block Grid Property Editor UI" Level="1">
  <Info>
    <Name>Tríggir kassar - Kassar - Block Grid Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "71fca506-ed8a-4611-947a-4756df33d34b",
      "allowAtRoot": true,
      "allowInAreas": true,
      "label": "{=yvirskrift}"
    }
  ],
  "gridColumns": 4,
  "useLiveEditing": true,
  "validationLimit": {
    "min": 3,
    "max": 3
  }
}]]></Config>
</DataType>