<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2958b4f2-4c9c-428b-8a00-eb82251b6f0a" Alias="Undirbólkur (skiljivegleiðing) - Litur - Color Picker Property Editor UI" Level="1">
  <Info>
    <Name>Undirbólkur (skiljivegleiðing) - Litur - Color Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "e10f1e",
      "label": ""
    },
    {
      "value": "a01e41",
      "label": ""
    },
    {
      "value": "961e82",
      "label": ""
    },
    {
      "value": "004778",
      "label": ""
    },
    {
      "value": "0082be",
      "label": ""
    },
    {
      "value": "141414",
      "label": ""
    },
    {
      "value": "5a6e78",
      "label": ""
    },
    {
      "value": "06682d",
      "label": ""
    },
    {
      "value": "00a04b",
      "label": ""
    },
    {
      "value": "21b685",
      "label": ""
    },
    {
      "value": "85bc40",
      "label": ""
    },
    {
      "value": "7f642b",
      "label": ""
    },
    {
      "value": "bea064",
      "label": ""
    },
    {
      "value": "f08700",
      "label": ""
    }
  ]
}]]></Config>
</DataType>