@model Kob.ViewModels.BlockListRenderModel
@using System.Globalization
@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Mvc.ViewEngines
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Kob.ViewModels.BlockListRenderModel>
@inject ICompositeViewEngine ViewEngine

@{
    // Materialize to list so we can use Count and index
    var items = (Model?.Blocks ?? Enumerable.Empty<BlockListItem>()).ToList();

    string ComponentPath(string alias) => $"~/Views/Partials/BlockList/Components/{alias}.cshtml";
    const string FallbackPath = "~/Views/Partials/BlockList/Default.cshtml";

    bool ViewExists(string path) =>
        ViewEngine.GetView(executingFilePath: null, viewPath: path, isMainPage: false).Success;
}

@if (!items.Any())
{
    <div class="alert alert-info my-3">No blocks to render.</div>
}
else
{
    for (var i = 0; i < items.Count; i++)
    {
        var item = items[i];

        // --- First/last detection ---
        var isFirst = i == 0;
        var isLast  = i == items.Count - 1;

        // Optional extra pos class if you want it
        var posClass = isFirst ? "pos-first"
                     : isLast  ? "pos-last"
                     :          string.Empty;

        // Build ViewData for this specific block
        var viewData = new ViewDataDictionary(ViewData)
        {
            ["BlockIsFirst"]  = isFirst,
            ["BlockIsLast"]   = isLast,
            ["BlockPosClass"] = posClass
        };

        // Resolve view path
        var alias = item.Content.ContentType.Alias;
        var viewPath = ComponentPath(alias);

        if (ViewExists(viewPath))
        {
            @await Html.PartialAsync(viewPath, item, viewData)
        }
        else
        {
            @await Html.PartialAsync(FallbackPath, item, viewData)
        }
    }
}
