<?xml version="1.0" encoding="utf-8"?>
<Content Key="2756bc3c-a8cc-4175-8e40-90149f8fe8ab" Alias="2025-11-05 – Morning – Dagbjørt Sólheim" Level="4">
  <Info>
    <Parent Key="d3350ab1-5560-4e27-9855-2e7af6e18634">Bókingar</Parent>
    <Path>/kob/Stillingar/Bokingar/MorningDagbjoertSolheim</Path>
    <Trashed>false</Trashed>
    <ContentType>bookingRequest</ContentType>
    <CreateDate>2025-11-05T10:10:39</CreateDate>
    <NodeName Default="2025-11-05 – Morning – Dagbjørt Sólheim" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <arrivalTime>
      <Value><![CDATA[09:00]]></Value>
    </arrivalTime>
    <attendees>
      <Value><![CDATA[20]]></Value>
    </attendees>
    <email>
      <Value><![CDATA[dagbjort@torshavn.fo]]></Value>
    </email>
    <firmValue>
      <Value><![CDATA[]]></Value>
    </firmValue>
    <nameValue>
      <Value><![CDATA[Dagbjørt Sólheim]]></Value>
    </nameValue>
    <notes>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Hetta er ein test"
}]]></Value>
    </notes>
    <phone>
      <Value><![CDATA[280906]]></Value>
    </phone>
    <slot>
      <Value><![CDATA[[
  "Fyrrapart"
]]]></Value>
    </slot>
    <slotDate>
      <Value><![CDATA[2025-11-05T00:00:00]]></Value>
    </slotDate>
    <status>
      <Value><![CDATA[[
  "Approved"
]]]></Value>
    </status>
  </Properties>
</Content>