<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a72b022-3d4f-4c6a-bfe7-c9a2edc1942f" Alias="[Pending] 2025-11-20 – Seinnapartur – Hans Ravnsfjall" Level="4">
  <Info>
    <Parent Key="d3350ab1-5560-4e27-9855-2e7af6e18634">Bókingar</Parent>
    <Path>/kob/Stillingar/Bokingar/Pending20251120SeinnaparturHansRavnsfjall</Path>
    <Trashed>false</Trashed>
    <ContentType>bookingRequest</ContentType>
    <CreateDate>2025-11-10T20:33:30</CreateDate>
    <NodeName Default="[Pending] 2025-11-20 – Seinnapartur – Hans Ravnsfjall" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <arrivalTime>
      <Value><![CDATA[13:00]]></Value>
    </arrivalTime>
    <attendees>
      <Value><![CDATA[20]]></Value>
    </attendees>
    <email>
      <Value><![CDATA[hans.ravnsfjall@gmail.com]]></Value>
    </email>
    <nameValue>
      <Value><![CDATA[Hans Ravnsfjall]]></Value>
    </nameValue>
    <notes>
      <Value><![CDATA[hetta er ein roynd]]></Value>
    </notes>
    <phone>
      <Value><![CDATA[781011]]></Value>
    </phone>
    <slot>
      <Value><![CDATA[seinnapartur]]></Value>
    </slot>
    <slotDate>
      <Value><![CDATA[2025-11-20T00:00:00]]></Value>
    </slotDate>
    <status>
      <Value><![CDATA[Pending]]></Value>
    </status>
  </Properties>
</Content>