<?xml version="1.0" encoding="utf-8"?>
<Content Key="273fdaf7-f58d-4fbb-a008-15c0ab65fd76" Alias="[Pending] 2026-01-01 – Fyrrapart – Hans Ravnsfjall" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Pending20260101FyrrapartHansRavnsfjall</Path>
    <Trashed Parent="d3350ab1-5560-4e27-9855-2e7af6e18634">true</Trashed>
    <ContentType>bookingRequest</ContentType>
    <CreateDate>2025-12-03T16:14:41</CreateDate>
    <NodeName Default="[Pending] 2026-01-01 – Fyrrapart – Hans Ravnsfjall" />
    <SortOrder>112</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <arrivalTime>
      <Value><![CDATA[09:00]]></Value>
    </arrivalTime>
    <attendees>
      <Value><![CDATA[20]]></Value>
    </attendees>
    <email>
      <Value><![CDATA[hr@virka.fo]]></Value>
    </email>
    <firmValue>
      <Value><![CDATA[]]></Value>
    </firmValue>
    <nameValue>
      <Value><![CDATA[Hans Ravnsfjall]]></Value>
    </nameValue>
    <notes>
      <Value><![CDATA[hetta er ein test]]></Value>
    </notes>
    <phone>
      <Value><![CDATA[781011]]></Value>
    </phone>
    <slot>
      <Value><![CDATA[Fyrrapart]]></Value>
    </slot>
    <slotDate>
      <Value><![CDATA[2026-01-01T00:00:00]]></Value>
    </slotDate>
    <status>
      <Value><![CDATA[Pending]]></Value>
    </status>
  </Properties>
</Content>