<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4f4367f2-6b19-48ff-beaf-224868b130ee" Alias="dropdowmHolder" Level="1">
  <Info>
    <Name>Dropdown Container</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ab2f3670-0e2f-45f2-8e6d-57f4d4db2bb7" SortOrder="0">dropdownMenu</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>