<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ab2f3670-0e2f-45f2-8e6d-57f4d4db2bb7" Alias="dropdownMenu" Level="2">
  <Info>
    <Name>Dropdown Menu</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="4f4367f2-6b19-48ff-beaf-224868b130ee">dropdowmHolder</Parent>
    <Compositions>
      <Composition Key="4f4367f2-6b19-48ff-beaf-224868b130ee">dropdowmHolder</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="cd9bb8ef-fdd7-4be3-aa0a-182140b7cf21" SortOrder="0">dropdownItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>