<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c02aef54-19ed-4f0a-a6e2-588fd955c188" Alias="forsida" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>S%c3%ad%c3%b0ur</Folder>
    <Compositions />
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ff60c7c1-2834-4436-a2b0-f230aab3517e">home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e3ff5ebb-7d1c-4d48-9c61-498d17162bd9" SortOrder="0">subpage</ContentType>
    <ContentType Key="ad09a106-0f27-44dd-9787-b4a18969bc59" SortOrder="1">megamenuFolder</ContentType>
    <ContentType Key="9c085494-2428-4aba-9cd6-cd47ff02df37" SortOrder="2">globalBlocksPage</ContentType>
    <ContentType Key="35c88f70-e49d-4139-bab7-7ed4e12e06f2" SortOrder="3">temaMappa</ContentType>
    <ContentType Key="cb41e68a-4c5d-4c1d-aca4-efda93b7def6" SortOrder="4">tidindamappa</ContentType>
    <ContentType Key="6e53242b-ae0a-452a-acc8-911bfa4c9d44" SortOrder="5">skiljivegleiIng</ContentType>
    <ContentType Key="36772ab1-774d-44db-be25-477e7042894b" SortOrder="6">GodRadmappa</ContentType>
    <ContentType Key="3306287b-d220-4196-9b15-eeaee16bc25a" SortOrder="7">siteSettings</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>2db0253f-0cae-4c99-b0b0-052c77ac94b1</Key>
      <Name>Modul</Name>
      <Alias>modul</Alias>
      <Definition>a5d28985-beae-4db2-b2f1-d52ffed732e8</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="innihald">Innihald</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6664eede-7f89-4ce0-ab0b-8f7a1078d17f</Key>
      <Caption>Innihald</Caption>
      <Alias>innihald</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>