<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ad09a106-0f27-44dd-9787-b4a18969bc59" Alias="megamenuFolder" Level="2">
  <Info>
    <Name>Megamenu mappa</Name>
    <Icon>icon-folder color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions>
      <Composition Key="cce55a0d-c890-4cd5-a271-d4d22951367f">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="d45609e6-9fc5-42bf-b7d9-721e37cfe64b" SortOrder="0">megamenuHeading</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>