<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3306287b-d220-4196-9b15-eeaee16bc25a" Alias="siteSettings" Level="1">
  <Info>
    <Name>Site settings</Name>
    <Icon>icon-settings color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="cce55a0d-c890-4cd5-a271-d4d22951367f">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="f5055142-23d6-4fa9-b5e6-0a12ef868260" SortOrder="0">ikonMappa</ContentType>
    <ContentType Key="9607473c-7f1e-4fa7-931d-fce7cf1d8f31" SortOrder="1">bookingsRoot</ContentType>
    <ContentType Key="b6552c64-d93b-451b-9f41-e36bf47e641e" SortOrder="2">bookingSettings</ContentType>
    <ContentType Key="4f4367f2-6b19-48ff-beaf-224868b130ee" SortOrder="3">dropdowmHolder</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>10f09066-b954-4e4c-84f1-924c7f7cf2bc</Key>
      <Name>Bústaður</Name>
      <Alias>bustadur</Alias>
      <Definition>b082f558-e8a9-4053-85c6-5a26ef60e8e2</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>20bdfa2d-43f0-4ef9-aed5-7ecc32267275</Key>
      <Name>Leinki</Name>
      <Alias>leinki</Alias>
      <Definition>326696b1-d4bc-4d50-9bfe-1a143a30abaa</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f373ba3e-15a0-4805-856f-4c53b7a25d56</Key>
      <Caption>Footer</Caption>
      <Alias>footer</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>