<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6e53242b-ae0a-452a-acc8-911bfa4c9d44" Alias="skiljivegleiIng" Level="2">
  <Info>
    <Name>Skiljivegleiðing</Name>
    <Icon>icon-layout-masonry color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Skiljiveglei%c3%b0ingin</Folder>
    <Compositions>
      <Composition Key="cce55a0d-c890-4cd5-a271-d4d22951367f">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>Skiljivegleiding</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c97918a3-a671-4ae1-881c-12fcd0241a96">Skiljivegleiding</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6790bf5a-a6c2-4dab-babb-684f67beefc2" SortOrder="0">bolkurSkiljivegleiding</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>