<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1f1bba64-034d-4542-abd3-fc89fe733e0d" Alias="skilOgEndurnyt" Level="2">
  <Info>
    <Name>Skiljisvegleiðing og Endurnýtslur</Name>
    <Icon>icon-re-post color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Frontpage+Modules</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fab52aa0-4e03-4434-aeb2-b788d3bb3b13</Key>
      <Name>Endurnýtslur</Name>
      <Alias>endurnytslurListi</Alias>
      <Definition>db84be2b-05c3-4d4c-b860-1521d85c7030</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="endurnýtslur">Endurnýtslur</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>311ff022-f9c8-4c43-8520-dd428ae76537</Key>
      <Name>Heiti</Name>
      <Alias>heiti</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="endurnýtslur">Endurnýtslur</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8df399c7-60f8-4805-952b-df745829210a</Key>
      <Name>Leinki</Name>
      <Alias>leinki</Alias>
      <Definition>c0a4d117-53ac-4746-a3c1-78c7ed7b0c83</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="endurnýtslur">Endurnýtslur</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>726b1441-d640-4765-8faf-984fb046c139</Key>
      <Name>Leinki</Name>
      <Alias>leinki_skiljing</Alias>
      <Definition>c0a4d117-53ac-4746-a3c1-78c7ed7b0c83</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="skiljivegleiðing">Skiljivegleiðing</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>90839112-44ce-413d-b13b-ffd5f6807483</Key>
      <Name>Tekstur</Name>
      <Alias>tekstur_skiljing</Alias>
      <Definition>b082f558-e8a9-4053-85c6-5a26ef60e8e2</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="skiljivegleiðing">Skiljivegleiðing</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cd3733f5-7bd5-413f-9eb6-03349f2e570a</Key>
      <Name>Upplatingartíðir</Name>
      <Alias>upplatingartidir</Alias>
      <Definition>2adcb286-9aeb-4bd9-9a88-271e4a357ff2</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="endurnýtslur">Endurnýtslur</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a3712e2b-29d5-40dc-a69f-aa6f27f7eee2</Key>
      <Name>Yvirskrift</Name>
      <Alias>yvirskrift_skiljing</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="skiljivegleiðing">Skiljivegleiðing</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3e41455c-7076-439a-9c0b-1c0869c2dfeb</Key>
      <Caption>Endurnýtslur</Caption>
      <Alias>endurnýtslur</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>e0b38236-942c-48e5-aa29-dc6921d57de3</Key>
      <Caption>Skiljivegleiðing</Caption>
      <Alias>skiljivegleiðing</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>