<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="35c88f70-e49d-4139-bab7-7ed4e12e06f2" Alias="temaMappa" Level="2">
  <Info>
    <Name>Tema mappa</Name>
    <Icon>icon-chat color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Mappur</Folder>
    <Compositions>
      <Composition Key="cce55a0d-c890-4cd5-a271-d4d22951367f">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="efd6bb47-fcfb-4b99-8d28-de4c11ca5c8a" SortOrder="0">temaSida</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>