<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0adeab55-816d-44e1-b288-401a82fbc06e" Alias="threeBoxes" Level="2">
  <Info>
    <Name>3 kassar</Name>
    <Icon>icon-columns-3 color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Subpage+Modules</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c699508c-4cd9-4846-8416-28ab2430df4f</Key>
      <Name>Kassar</Name>
      <Alias>boxes</Alias>
      <Definition>d35f850e-b627-4daa-ad6d-45ac38f197f0</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="innihald">Innihald</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a7a7f1f5-8786-42eb-ba1d-c625fa190050</Key>
      <Caption>Innihald</Caption>
      <Alias>innihald</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>