<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cb41e68a-4c5d-4c1d-aca4-efda93b7def6" Alias="tidindamappa" Level="2">
  <Info>
    <Name>Tíðindamappa</Name>
    <Icon>icon-alert-alt color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Mappur</Folder>
    <Compositions>
      <Composition Key="cce55a0d-c890-4cd5-a271-d4d22951367f">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>Tidindamappa</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cbf69b9f-d467-4bef-ab28-ad1882a171a0">Tidindamappa</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="203817ae-ec08-4e49-bfa8-8d5784b775b0" SortOrder="0">tidindi</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>