<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d5f5c0ac-d329-4493-9b1a-95dfac8e60a6" Alias="undirbolkur" Level="2">
  <Info>
    <Name>Undirbólkur (skiljivegleiðing)</Name>
    <Icon>icon-trash color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Skiljiveglei%c3%b0ingin</Folder>
    <Compositions>
      <Composition Key="71cec222-a5f1-4ed9-91eb-b8fa57d0c4aa">standardTekstir</Composition>
    </Compositions>
    <DefaultTemplate>UndirbolkurSkiljivegleiding</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="058e6006-60c2-4a8b-8b54-0407f35ec70b">UndirbolkurSkiljivegleiding</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d6b5b51e-bb1d-4c6e-a0fa-e65f4376db03" SortOrder="0">luturSkiljing</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>2a8130ed-eca6-4296-b80b-53be0f7e36d6</Key>
      <Name>Piktogram</Name>
      <Alias>piktogram</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="innihald">Innihald</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>19152366-1f66-4f07-8540-7eed3d9b6a82</Key>
      <Caption>Innihald</Caption>
      <Alias>innihald</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>